body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
h1 {
  font-size: 50px;
}
.title {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: rgb(74, 172, 179);
  color: white;
}
.hoverItem {
  padding: 15px;
}
.hoverItem:hover {
  background-color: rgb(247, 247, 247);
  cursor: -webkit-grab; cursor: pointer;
  padding: 15px;
}
.center-align{
  text-align: center;
}
.container-fluid {
  padding-top: 3%;
  padding-right: 5%;
  padding-left: 5%;
}
button, .btn {
  margin-left: 5px;
  margin-top: 10px;
}
.bord {
  border: solid 1px rgb(158, 168, 172);
  padding: 20px;
  border-radius: 8px;
}